@using Microsoft.AspNetCore.Identity
@inject IBaseRepository<NotificationEntity> _notifRepo
@inject UserManager<ApplicationUser> _userManager
@{
    var records = await _notifRepo.GetAll();
    var user = await _userManager.FindByNameAsync(User.Identity.Name);
    var countNotif = records.Where(x => x.IsViewed == false && x.Recipient == user.Id).Count();
}
<div class="bg-white position-fixed top-0 w-100 z-2 shadow-sm d-flex justify-content-between px-lg-4 px-md-4 px-2 py-2 align-items-center">
    <div class="d-flex align-items-center">
        <a class="d-flex align-items-center gap-3 text-decoration-none">
            <img src="~/img/Logo.jpg" class="rounded-circle" width="60" height="60" />
            <span class="fw-bolder text-success fs-5">Roost<span class="text-warning">Care</span></span>
        </a>
        <button id="menu-toggle" class="ms-lg-5 ms-md-5 ms-2 p-0 bg-transparent border-0"><i class="fa-solid fa-bars text-secondary"></i></button>
    </div>
    <div class="d-flex gap-4 align-items-center ">
        <div class="d-none d-lg-flex d-md-flex gap-lg-4 gap-md-4 0">
            <a id="notif-icon" asp-page="/Notification/Index" class="text-decoration position-relative">
                @if(countNotif > 0)
                {
                    <span class="p-1 rounded-circle bg-danger text-white position-absolute" style="top: -5px; right: -5px"></span>
                }
                <i class="fa-regular fa-bell fs-5 text-secondary"></i>
            </a>
            <!--i class="fa-regular fa-message fs-5 text-secondary"></!--i-->
        </div>
        <div class="bg-secondary-subtle d-none d-lg-block d-md-block" style="height: 30px;padding-left: 1px;"></div>
        <div class="dropdown">
            <button class="btn-light btn shadow dropdown-toggle text-secondary fw-bolder" data-bs-toggle="dropdown"><span class="d-none d-lg-inline d-md-inline">@User.Identity?.Name</span><span class="d-inline d-lg-none d-md-none">@(User.Identity?.Name.Length > 5 ? $"{User.Identity?.Name.Substring(0, 4)}..." : User.Identity?.Name)</span></button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item d-flex gap-3 align-items-center" asp-page="/UserAccount/Index"><i class="fa-regular fa-user"></i><span>Account</span></a></li>
                <li><a class="dropdown-item d-flex gap-3 align-items-center" asp-area="Identity" asp-page="/Account/Logout"><i class="fa-solid fa-arrow-right-to-bracket"></i></i><span>Logout</span></a></li>
            </ul>
        </div>

    </div>
</div>
