@{
    var qrCode = ViewData["qr-code"] as string;
    var filename = ViewData["filename"] as string;
}
<div class="modal fade" id="qrcode-download">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Download QR-Code</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body d-flex align-items-center justify-content-center">
                <img src="@qrCode" width="200" height="200" />
            </div>
            <div class="modal-footer">
                <a href="@qrCode" class="btn btn-primary fa-solid fa-download" download="@filename"></a>
            </div>
        </div>
    </div>
</div>