@model HatchInputModel
@inject IBaseRepository<Incubation> _incRepo
@{
    var incubations = await _incRepo.GetAll();
    var incubationFiltered = incubations.Where(x => x.NumberOfNonViableEggs != null && x.NumberOfViableEggs != null).ToList();
}
<div class="modal fade" id="complete-hatch-@(Model.Id)">
    <div class="modal-dialog">
        <form method="post" asp-page-handler="Update">
            <input asp-for="Id" type="hidden"/>
            <input asp-for="AddedAt" type="hidden"/>
            <input asp-for="HatchingStart" type="hidden"/>
            <input asp-for="HatchingEnd" type="hidden" />
            <input asp-for="HatchingStart" type="hidden" />
            <input asp-for="IncubationId" type="hidden" />
            <div class="modal-content">
                <div style="background-color: #034007" class="text-white py-3 modal-header">
                    <h5>Complete Hatch</h5>
                    <i data-bs-dismiss="modal" class="fa-solid fa-xmark"></i>
                </div>
                <div class="modal-body">    
                    <div class="mb-3">
                        <label asp-for="NumberOfHatchlings" class="mb-2"></label><span class="text-danger fw-bolder">*</span>
                        <input asp-for="NumberOfHatchlings" required class="form-control" style="border-color: #034007" placeholder="Enter here.."/>
                        <span asp-validation-for="NumberOfHatchlings" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-light">Cancel</button>
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>


