@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4 custom-color1">Welcome</h1>

    
    
</div>


<a href="/User">User</a> <br />
<a href="/Admin">Admin</a><br />
<a href="/Staff">Staff</a><br />