<div class="modal fade" id="generate-qr">
    <div class="modal-dialog">
        <div class="modal-content">
            <div style="background-color: #034007" class="text-white py-3 modal-header">
                <h5>Select Rooster</h5>
                <i data-bs-dismiss="modal" class="fa-solid fa-xmark"></i>
            </div>
            <div class="modal-body">
                <div class="d-flex align-items-center gap-2 justify-content-end mb-4 pe-4">
                    <h6 class="fw-bolder p-0 m-0">Select All</h6>
                    <input class="form-check-input border border-1 border-success" type="checkbox" />
                </div>
               <ul class="list-unstyled p-0 overflow-y-scroll pe-3" style="height: 350px">
                   <li class="d-flex align-items-center justify-content-between border-bottom py-3">
                       <div class="d-flex align-items-center gap-3">
                           <img src="~/img/RoosterGreen.png" width="30" height="30"/>
                           <h6>Coop 1</h6>
                       </div>
                        <input class="form-check-input border border-1 border-success" type="checkbox" />
                   </li>
                    <li class="d-flex align-items-center justify-content-between border-bottom py-3">
                        <div class="d-flex align-items-center gap-3">
                            <img src="~/img/RoosterGreen.png" width="30" height="30" />
                            <h6>Coop 1</h6>
                        </div>
                        <input class="form-check-input border border-1 border-success" type="checkbox" />
                    </li>
                    <li class="d-flex align-items-center justify-content-between border-bottom py-3">
                        <div class="d-flex align-items-center gap-3">
                            <img src="~/img/RoosterGreen.png" width="30" height="30" />
                            <h6>Coop 1</h6>
                        </div>
                        <input class="form-check-input border border-1 border-success" type="checkbox" />
                    </li>
                    <li class="d-flex align-items-center justify-content-between border-bottom py-3">
                        <div class="d-flex align-items-center gap-3">
                            <img src="~/img/RoosterGreen.png" width="30" height="30" />
                            <h6>Coop 1</h6>
                        </div>
                        <input class="form-check-input border border-1 border-success" type="checkbox" />
                    </li>
                    <li class="d-flex align-items-center justify-content-between border-bottom py-3">
                        <div class="d-flex align-items-center gap-3">
                            <img src="~/img/RoosterGreen.png" width="30" height="30" />
                            <h6>Coop 1</h6>
                        </div>
                        <input class="form-check-input border border-1 border-success" type="checkbox" />
                    </li>
                    <li class="d-flex align-items-center justify-content-between border-bottom py-3">
                        <div class="d-flex align-items-center gap-3">
                            <img src="~/img/RoosterGreen.png" width="30" height="30" />
                            <h6>Coop 1</h6>
                        </div>
                        <input class="form-check-input border border-1 border-success" type="checkbox" />
                    </li>
                    <li class="d-flex align-items-center justify-content-between border-bottom py-3">
                        <div class="d-flex align-items-center gap-3">
                            <img src="~/img/RoosterGreen.png" width="30" height="30" />
                            <h6>Coop 1</h6>
                        </div>
                        <input class="form-check-input border border-1 border-success" type="checkbox" />
                    </li>
               </ul>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success">Generate QR-Code <i class="fa-solid fa-qrcode"></i></button>
            </div>
        </div>
    </div>
</div>
